<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/shopping/scripts/functions.js"></script>
    <script src="/shopping/scripts/shopping_car.js"></script>
    <title>Document</title>
    <style>
        #head1 {
            background-color: #27ae60;
            color: white;
            text-align:center
        }
        #head2 {
            background-color:#ea6153;
            color: white;
            text-align:center
        }
        #itemArea > tr > td > img{
            width: 100px;
            height: 100px;
        }
        body {
            font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
            background-color:#1c1c1c;
        }
        #button_colum {
            width: 170px;
        }
        th {
            text-align: center;
        }
        tr {
            text-align: center;
        }
        .item-color-1 {
                background-color:#f6f6f6;
            }
        .item-color-2 {
            background-color:#e9e9e9;
        }
        .container {
            text-align: center;
        }
        table {
            color:#808080;
        }
        legend {
            color: red;
        }
        
    </style>
</head>
<body>
        <!-- 導覽列 -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                
                <a class="navbar-brand" href="/shopping/controller/guestcontroller.php/index">商城首頁</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{if !$is_login}}
                    <li class=""><a href="/shopping/controller/guestcontroller.php/login"><span class="glyphicon glyphicon-user"></span> 登入 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/shopping/controller/guestcontroller.php/signup"><span class="glyphicon glyphicon-tower"></span> 註冊</a></li>
                    {{else}}
                    <li><a href="/shopping/controller/usercontroller.php/logout"><span class="glyphicon glyphicon-tower"></span> 登出</a></li>
                    {{/if}}
                    {{if $permission == 2}}
                    <li class=""><a href="/shopping/controller/managercontroller.php/member"><span class="glyphicon glyphicon-user"></span> 會員管理 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/shopping/controller/managercontroller.php/product"><span class="glyphicon glyphicon-list-alt"></span> 產品管理 </a></li>
                    {{/if}}
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    {{if $is_login }}
                        {{if $permission == 2}}
                        
                        <li>
                            <a href="/shopping/controller/managercontroller.php/orderMenu">
                                <span class="glyphicon glyphicon-list-alt"></span> 訂單管理
                            </a>
                        </li>
                        {{else}}
                            <li>
                                <a href="/shopping/controller/usercontroller.php/shoppinghistory">
                                    <span class="glyphicon glyphicon-list-alt"></span> 我的訂單
                                </a>
                            </li>
                            <li>
                                <a href="/shopping/controller/usercontroller.php/shoppingcar">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> 購物車
                                    <span class="badge badge-light" id='product_count'>
                                        {{if isset($order_detail_list_length)}}
                                        {{$order_detail_list_length}}
                                        {{else}}
                                        0
                                        {{/if}}
                                    </span>
                                </a>
                            </li>
                        {{/if}}
                        {{else}}
                            <li>
                                <a href="/shopping/controller/usercontroller.php/shoppinghistory">
                                    <span class="glyphicon glyphicon-list-alt"></span> 我的訂單
                                </a>
                            </li>
                            <li>
                                <a href="/shopping/controller/usercontroller.php/shoppingcar">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> 購物車
                                    <span class="badge badge-light" id='product_count'>
                                        {{if isset($order_detail_list_length)}}
                                        {{$order_detail_list_length}}
                                        {{else}}
                                        0
                                        {{/if}}
                                    </span>
                                </a>
                            </li>
                    {{/if}}
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class='container'>
            <div id="nowTime"></div>
            <div>
                    <legend style = "color: red">購物車</legend>
                <!-- 會員顯示區 -->
                <table class="table table-striped" id='title'>
                    <thead id = 'head1'>
                        <tr>
                            <th style="width:110px">商品圖片</th>
                            <th>商品名稱</th>
                            <th>商品庫存</th>
                            <th>商品單價</th>
                            <th>購買數量</th>
                            <th id='button_colum'></th>
                        </tr>
                    </thead>
                    <tbody id='itemArea'>
                        {{if $product_list != 0}}
                            {{foreach from = $product_list key = key item = $product_item}}
                                {if $product_item.is_delete == 1 || $product_item.status == 0}
                                <tr class="item-color-1">
                                        <input type="hidden" value="{{$product_item.product_id}}">
                                        <td><img src="/shopping/img/{{$product_item.image}}" alt=""></td>
                                        <td>{{$product_item.name}}</td>
                                        <td>商品已下架</td>
                                        <td>商品已下架</td>
                                        <td>商品已下架</td>
                                        <td>
                                            <span class="pull-right delete_button">
                                                <span class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-remove">
                                                    </span>
                                                    從購物車移除
                                                </span>
                                            </span>
                                        </td>
                                
                                {{else}}
                                <tr class="item-color-1">
                                    <input type="hidden" value="{{$product_item['product_id']}}">
                                    <td><img src="/shopping/img/{{$product_item['image']}}" alt=""></td>
                                    <td>{{$product_item.name}}</td>
                                    <td>{{if $product_item.stock < 10}} {{$product_item.stock}} {{else}} 庫存量 > 10 {{/if}}</td>
                                    <td>NT{{$product_item.price}}</td>
                                    <td><input class='amount' type='number' min='1' max='{{$product_item.stock}}' value="{{$product_item['amount']}}" style="width:50px"></td>
                                    <td>
                                        <span class="pull-right delete_button">
                                            <span class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove">
                                                </span>
                                                從購物車移除
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                {{/if}}
                            {{/foreach}}
                        {{/if}}
                    </tbody>
                </table><!-- 會員顯示區結束 -->
                <legend>結帳</legend>
                <table class="table table-striped">
                    <thead id='head2'>
                        <!-- <th style="width:110px"></th>
                        <th></th> -->
                        <th>現有額度</th>
                        <th>商品總價</th>
                        <th>結帳後餘額</th>
                        <th id='button_colum'></th>
                    </thead>
                    <tbody>
                        <!-- <td></td>
                        <td></td> -->
                        <td>NT{{$user_item['cash']}}</td>
                        <td id='total_price'>NT{{$total_price}}</td>
                        <td id='user_final_cash'>
                            {{if $user_final_cash >= 0}}
                            {{$user_final_cash}}
                            {{else}}
                            {{$user_final_cash}}(餘額不足)
                            {{/if}}
                        </td>
                        <td>
                                <span class="pull-right" >
                                    <button id="checkout_button" class="btn btn-warning"
                                    {{if $user_final_cash < 0  || $total_price <= 0}}
                                        disabled='disabled' 
                                        {{/if}}>
                                        <span class="glyphicon glyphicon-usd">
                                        </span>
                                        結帳
                                    </button>
                                </span>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" id='message' value='{{$message}}'>
        
        
        <script type="text/javascript" src=''></script>
        <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" 
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" 
        crossorigin="anonymous">
        </script>
</body>
</html>